body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.logo-text-navbar {
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
}

.logo-text-footer {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

.about-text {
    line-height: 2;
}

footer a:link {
    color: #ffffff;
    text-decoration: none;
}

footer a:visited {
    color: #ffffff;
    text-decoration: none;
}

.bg-navbar {
    background-color: #b70000;
}
