body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;
}

h2 {
    font-size: 2.5rem;
    position: relative;
}

.heading-anchor {
    position: relative;
    top: -8rem;
}

.logo-text-navbar {
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
}

.logo-text-footer {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

.hero-section {
    padding-top: 2rem;
    padding-bottom: 15rem;
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-name-top-text {
    padding-top: 9rem;
}

.hero-name-text {
    padding-top: 25rem;
    color: #ffffff;
    overflow-wrap: break-word;
    letter-spacing: 5px;
    text-shadow: 0.125em 0.125em 0.125em #000000;
}

.vertical-line {
    width: 20%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 2px;
    border-top-color: #000000;
    border-top-style: solid;
}

.about-text {
    line-height: 2;
}

.experience-icon {
    font-size: 2em;
    cursor: pointer;
}

.experience-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.experience-year {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.work-section {
    background-color: #b70000;
}

.card-img-top {
    cursor: pointer;
}

footer a:visited {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #dbdbdb;
    text-decoration: none;
}

.bg-navbar {
    background-color: #b70000;
}

.modal-title {
    font-weight: bold;
    font-size: 2em;
}